<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Guia de Perguntas e Respostas</title>
</head>
<body>
    <h1>Guia Perguntas</h1>
    <hr>
    <h3>Lista de perguntas</h3>
    
    <!-- trazendo os campos do arquivo index.js para serem renderizados no html -->
    <!-- Só possível por conta do EJS -->
    <!-- HTML DINÂMICO -->
    <p>Nome:<%= nome %></p>
    <br>
    <p>Empresa: <%= empresa %></p>
</body>
</html>